.error-message {
    color: red; /* Couleur du texte d'erreur */
    font-size: 12px; /* Taille de police petite mais lisible */
    margin-top: 1px; /* Espacement au-dessus du message pour l'espacement visuel */
    display: block; /* Assurez-vous que le message d'erreur soit affiché sous forme de bloc */
    width: 100%; /* S'assurer que le message prend toute la largeur disponible */
    padding-left: 0; /* Aligner le message sans indentation */
    text-align: left; /* Aligner le texte à gauche */
    margin-left: 10px; /* Ajouter un léger décalage gauche pour l'alignement */
    margin-bottom: 1px; /* Espacement au-dessus du message pour l'espacement visuel */

  }.input-group .form-control.ng-invalid.ng-touched {
    border-color: red; /* Bordure rouge si le champ est invalide et touché */
  }