<div class="d-flex justify-content-between w-full flex-wrap">
  <p-card *ngFor="let job of jobList$ | async" [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template #header>
      <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <ng-template #title>   <b>{{job.positionTitle }}</b> </ng-template>
    <ng-template #subtitle>  {{job.publicationDate | date:'dd/MM/yyyy hh:mm:ss' }} </ng-template>
    <p>
      {{job.jobDescription }}
    </p>
  </p-card>
</div>
