<div class="row">
 
  <div class="col-xl-8 col-md-6">
    <app-card cardTitle="
    الأولى التونسية للتوظيف العالمي والوساطة تصنف من الشركات التونسية">
      <p style="font-size: 18px; text-align: right; direction: rtl;">
        
        الأولى التونسية للتوظيف العالمي والوساطة تصنف من الشركات التونسية الرائدة المقدمة لحلول التوظيف والموارد البشرية.
        خلال فترة وجيزة حققت شركة الأولى إنتشارا ونجاحا وسمعة طيبة خاصة بالدول العربية ذلك لأنها تحترم وتلبي إحتياجات عملائها من اليد العاملة المؤهلة المطلوبة وكذلك توفير الفرص الوظيفية المتميزة لراغبي السفر والعمل بالخارج.
        تسعى شركة الأولى ومن خلال إدارة حازمة ذات فكر متفتح و متقدم وكذلك نخبة من الموظفين ذوي القدرات المتميزة في العمل الدؤوب و التعامل الراقي والصريح مع عملائها إلى دوام المحافظة على بقاء الشركة في مقدمة الشركات العاملة في هذا المجال.
        
        منهج التوظيف و دورة العمل
        
        - الفرز : تحرص شركة الأولى على جمع وتنظيم المعلومات الخاصة بكل مرشح مع التأكد من صحتها ومطابقتها للوظيفة ومهامها لكي يتم الإختيار بين أنسب المرشحين لتحقيق التوافق المطلوب لمصلحة طالب الوظيفة وصاحب العمل.
        - التعريف المبدئي : تسعى شركة الأولى على إبراز صورة عميلنا المناسبة وتوضيح عرضه وطبيعة عمله من خلال جلسات وعروض تقديمية عنه لتعطي المرشح الفكرة المناسبة عن العمل والمؤسسة تمهيداً للخطوات التالية من عملية الإختيار وتساعده على إتخاذ القرار.
        - الإختيار: الحرص على إجراء آليات الإختيار المتفق عليه مع العميل من مقابلات شخصية وإختبارات بواسطة متخصصين في جميع المجالات لضمان الجودة وإمداد العميل بصورة أكثر شمولاً عن المتقدمين للوظيفة وإختيار صاحب أفضل وأنسب المواصفات التي تحقق له أهدافه المرجوة وتناسب طبيعة عمله.
        - المقابلات الشخصية : تحرص شركة الأولى على عمل المقابلات الشخصية للمرشحين حيث أنها أهم وأكثر الوسائل إستخداماً ولإختبار مدى توافق المتقدم للوظيفة والشركة. مع مراعاة أن تتسم بالإنضباط والتنظيم في سياق من الكفاءة والمرونة التي تجعل العميل يؤدي مهمته بنجاح وفاعلية.
        - التنفيذ والمتابعة : إحكام ترتيب سير العمليات في الشركة من خلال دورة عمل تتميز بالدقة والتخصص مما يجعل مراحل التنفيذ والمتابعة للمرشحين المختارين سلسة لكلا الطرفين.
        - الإمكانيات : نوفر لعملائنا قاعات مناسبة لعقد المقابلات الشخصية وإختبارات التوظيف مع إمكانية إجراء المقابلات أون لاين.
      </p>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    
    <div class="card">
      @for (list of card; track list) {
        <div class="card-block {{ list.design }}">
          <div class="row d-flex align-items-center">
            <div class="col-auto">
              <i class="feather {{ list.icon }} f-30"></i>
            </div>
            <div class="col">
              <h3 class="f-w-300">{{ list.number }}</h3>
              <span class="d-block text-uppercase">{{ list.text }}</span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  @for (list of social_card; track list) {
    <div class="{{ list.design }} col-xl-4">
      <div class="card card-social">
        <div class="card-block border-bottom">
          <div class="row align-items-center justify-content-center">
            <div class="col-auto">
              <i class="{{ list.icon }} f-36"></i>
            </div>
            <div class="col text-end">
              <h3>{{ list.amount }}</h3>
              <h5 class="{{ list.color }} mb-0">
                {{ list.percentage }}
                <span class="text-muted">Total Likes</span>
              </h5>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  }
 
  <div class="col-xl-8 col-md-6">
    <app-card cardTitle="Recent Users" cardClass="Recent-Users" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <tbody>
            @for (table of tables; track table) {
              <tr class="unread">
                <td>
                  <img class="rounded-circle" style="width: 40px" src="{{ table.src }}" alt="activity-user" />
                </td>
                <td>
                  <h6 class="mb-1">{{ table.title }}</h6>
                  <p class="m-0">{{ table.text }}</p>
                </td>
                <td>
                  <h6 class="text-muted">
                    <i class="fas fa-circle {{ table.color }} f-10 m-r-15"></i>
                    {{ table.time }}
                  </h6>
                </td>
                <td>
                  <a href="javascript:" class="label theme-bg2 text-white f-12 rounded-pill">Reject</a>
                  <a href="javascript:" class="label theme-bg text-white f-12 rounded-pill">Approve</a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
